:root{
    /* colors */
    --crl-primary-Soft-orange: hsl(35, 77%, 62%);
    --crl-primary-Soft-red: hsl(5, 85%, 63%);
    --crl-neutral-Off-white: hsl(36, 100%, 99%);
    --crl-neutral-Grayish-blue: hsl(233, 8%, 79%);
    --crl-neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
    --crl-neutral-Very-dark-blue: hsl(240, 100%, 5%);
    /* Typography */
    --fs-paragraph: 0.9375rem;
    --ff:'Inter', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}

/* css reseting rules */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Make images easier to work with */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
a{
    text-decoration: none;
}
/* styling layout using grid */
body{
    font-family: var(--ff);
    font-size: var(--fs-paragraph);
    font-weight: var(--fw-400);
    /* center the main tag */
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
main{
    max-width: 34em;
    margin: 0 auto;
    display: grid;
    /* max-width: 1400em; grid-template-columns: repeat(3, 1fr); */
    gap: 1rem;
}
/* styling mobile navigation*/
nav{
  position: relative;
}
ul{
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 2rem;
  width: 0;
  min-height: 100vh;
  top: 0;
  right: 100%;
  padding-top: 10rem;
  color: var(--crl-neutral-Very-dark-blue);
  background-color: var(--crl-neutral-Off-white); 
  transition: .5s ease-in-out;
}
#check:checked ~ section ul{
  display: flex;
  width: 70%;
  right: 0;
  
}
ul li a{ 
  color: var(--crl-neutral-Very-dark-blue);
  text-transform: capitalize;
  padding: 2rem; 
}
ul li a:hover{
  color: var(--crl-primary-Soft-orange);
}
.description a:hover{
  background-color: var(--crl-neutral-Very-dark-blue);
}
aside h3:hover{
  color: var(--crl-primary-Soft-orange);
}
.card-container h5:hover{
  color: var(--crl-primary-Soft-orange);
}
/* styling hamburger bars */
#check{
  display: none;
  visibility: hidden;
}
.menu-bars, .menu-ul{
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-ul{
  position: absolute;
  top: 30px;
  right: 30px;
  
}
.menu-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
}
.menu-bars span, .menu-ul span{
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--crl-neutral-Very-dark-blue);
}
.menu-bars span:before,
.menu-bars span::after,
.menu-ul span:before,
.menu-ul span:after{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--crl-neutral-Very-dark-blue);
}
.menu-bars span:before{
  top: 10px;
}
.menu-bars span:after{
  bottom: 10px;
}
.menu-ul span{
  background-color: transparent;
}
.menu-ul span:before{
  top: 0;
  transform: rotate(45deg);
}
.menu-ul span:after{
  top: 0;
  transform: rotate(-45deg);
}
/* sttyyling main content */
.bright h1{
  font-size: 3rem;
  font-weight: var(--fw-800);
  width: 80%;
}
.description p{
  font-size: 1.4rem;
  line-height: 1.8;
  padding-bottom: 1rem;
  color: var(--crl-neutral-Dark-grayish-blue);
}
.description a{
  
  padding: .8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  width: 50%;
  
 
  color: var(--crl-neutral-Off-white);
  background-color: var(--crl-primary-Soft-red);
}
aside{
  margin-top: 1.5rem;
}
aside div{
  background-color: var(--crl-neutral-Very-dark-blue);
padding: 0 1.5rem;
padding-bottom: 1rem;
}
aside div h2{
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: var(--crl-primary-Soft-orange);
}
aside div h3{
  font-weight: var(--fw-700);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  letter-spacing: 4px;
  color: var(--crl-neutral-Grayish-blue);
}
aside div p{
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-bottom: 3px solid var(--crl-neutral-Dark-grayish-blue);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  color: var(--crl-neutral-Grayish-blue);
}
aside div .last-paragraph{
  border-bottom: none;
}
/* styling the last cards */
.card{
  display: flex;
  gap: 1.5rem;
}
.card h4{
  font-size: 1.6rem;
  color: var(--crl-neutral-Dark-grayish-blue);
}
.card h5{
  font-size: 1.6rem;
  padding: .5rem 0;
  color: var(--crl-neutral-Very-dark-blue);
  
}
.card p{
  width: 90%;
  font-size: 1.5rem;
  color: var(--crl-neutral-Dark-grayish-blue);
}
/* footer styles */
.attribution {
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 1rem;
     font-size: 0.9rem;
     text-align: center; 
     background-color: var(--crl-neutral-Very-dark-blue);
     color: var(--crl-neutral-Off-white);
    }
.attribution a { 
    font-size: 0.9rem;
    color: hsl(228, 45%, 44%); 
}
.card-container figure{
  width: 300px;
}
img{
  width: 100%;
  overflow: hidden;
}
@media(min-width: 40em){
  /* hide the humburger menu */
  .menu-bars,
  .menu-ul{
    display: none;
  }
  ul{
    display: flex;
    flex-direction: row;
    right: 29rem;
    
    padding-top: 1.7rem;
    color: var(--crl-neutral-Very-dark-blue);
    transition: .5s ease-in-out;
  }
  ul li a{ 
    padding: 0.2rem; 
  }
  /* styling the grid columns and rows */
  main{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px; 
    grid-template-columns: repeat(3, 1fr); 
     /*defining the grid areas  */
     grid-template-areas: 
     "nav nav nav"
     "bg bg s"
     "bright desc s"
     "card card card"
     "footer footer footer";
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: card;
}
.menu-container{
  align-self: flex-start;
  
}
nav{
  display: flex;
  align-items: center;
  grid-area: nav;
}
.bg-image{
  grid-area: bg;
}
.bright{
  grid-area: bright;
}
.bright h1{
  font-size: 3.5rem;
}
.description{
  grid-area: desc;
}
aside{
  grid-area: s;
}
.card-01 {
  grid-area: 01;
}
.card-02{
  grid-area: 02;
}
.card-03{
  grid-area: 03;
}
.attribution{
  grid-area: footer;
}
}
